.container {
  background-color: #ffffff;
  width: 750px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  border-radius: 15px;

  .courses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 750px;
    gap: 20px;
  }
}