.row {
  > div {
    padding: 0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  .colName {
    padding-left: 20px;
  }

  h2 {
    margin: 0 0 4px 0;
    font-weight: 600;
    font-size: 1rem;
    color: #666666;
  }

  div > div {
    font-size: 0.9rem;
    color: #999999;
  }
}