.container {
  width: 1200px;
  background-color: #FFFFFF;
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 780px;
}

.title {
  //font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #333333;
  margin-bottom: 27px;
}

.courseInformation {
  .heading {
    //font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -1%;
    color: #B5B7C0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 15px;

    .headingElement {
      width: 120px;
      text-align: center;
    }
  }

  .description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
    padding: 4px 0;
    li {
      //font-family: Poppins;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: -1%;
      color: #666666;
      width: 120px;
      text-align: center;

      .button {
        //font-family: Poppins;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -1%;
        color: #008767;
        border: 1px solid #008767;
      }
    }
  }
}

.assistance {
  .title {
    //font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #333333;
    margin-bottom: 30px;
  }

  .heading {
    //font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -1%;
    color: #B5B7C0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
        width: 140px;
        text-align: center;
        margin-bottom: 20px;
    }
  }

  .list {
    width: 100%;
  }
}

.assistant {
  //font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -1%;
  color: #666666;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
  border-top: 1px solid #EEEEEE;
  li {
    width: 140px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis !important;
  }
}