.container {
  width: 1200px;
  padding: 40px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.content {
  width: 750px;
  max-width: 750px;
  overflow: hidden;

  .header {
    .informationContainer {
      display: flex;
      .icon {
        margin-right: 40px;
      }

      .name {
        width: auto;
        flex-grow: 1;
        .engName {
          //font-family: Inter;
          font-weight: 400;
          font-size: 26px;
          line-height: 24px;
          letter-spacing: 0.15px;
          color: #333333;
        }

        .rusName {
          //font-family: Inter;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.15px;
          color: #646464;
          margin-top: 5px;
        }
        .contacts {
          display: flex;
          align-items: center;
          margin-top: 5px;
          .phoneNumber {
            //font-family: Inter;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: #333333;
            margin-right: 40px;
          }
          .telegram {
            //font-family: Inter;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: #333333;
          }
        }
      }
      .email {
        //font-family: Inter;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #333333;
      }
    }
    .workSection {
      display: flex;
      align-items: center;
      .department {
        //font-family: Inter;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #333333;
        margin-right: 50px;
      }
      .position {
        //font-family: Inter;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #333333;
        margin-right: 50px;
      }
      .workload {
        border: 1px solid #FF0000;
        display: inline;
        //font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #646464;
      }
    }
  }

  .courses {
    .title {
      //font-family: Inter;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.15px;
      text-decoration: underline;
      text-decoration-style: solid;
      //text-decoration-offset: 0%;
      //text-decoration-thickness: 0%;
      text-decoration-skip-ink: auto;
      color: #333333;
      margin-bottom: 40px;
      margin-top: 22px;
    }

    .courses {
      .course {
        margin-bottom: 15px;
      }
    }
  }
}