.card {
  display: inline-block;
  max-width: 345px;
  border: 2px solid #40BA21;
  border-radius: 8px;
  background-color: #F5FBF4;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #40BA21;
    .information {
      padding: 11px;
      .courseName {
        display: flex;
        align-items: center;
        .name {
          //font-family: Poppins;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: -1%;
          color: #292D32;
          display: inline-block;
          margin-right: 9px;
          margin-bottom: 10px;
        }

        .icon {
          padding: 2px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          background-color: #40BA2199;
        }
      }

      ul {
        li {
          //font-family: Poppins;
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: -1%;
          color: #666666;
        }
      }
    }
    .instructors {
      padding: 0px 10px 10px 10px;
      border-left: 1px solid #40BA21;
      .instructor {
        margin-top: 10px;

        .title {
          //font-family: Poppins;
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: -1%;
          color: #000000;
          margin-bottom: 4px;
        }
      }
    }
  }

  .body {
    padding: 12px;
    .title {
      //font-family: Poppins;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: -1%;
      color: #000000;
      margin-bottom: 10px;
    }
    .assistance {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 10px;
      row-gap: 10px;

      .addNewMember {
        border: 2px solid #FFFB00;
        border-radius: 2px;
        padding: 5px 10px;
        background-color: #FFFFFF;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -1%;
        color: #292D32;
        cursor: pointer;
      }
    }
  }
}